
.loading{
	color: #333333;
	text-align:center;
	margin-top:100px;
}

.container{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
}

.btn {
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	font-size: 13px;
}


.row{
	margin-top: 10px;
}

.toolbar{
	margin-left: 0px;
	margin-top: 10px;
}

.toolbar .col-md-4{
    padding-left: 0px;
}

.filterbar{
	margin-top: 10px;
}


#calendar .fc-widget-header {
	background-color:#eaeaea;
}

#calendar .fc-timeline .fc-time-area .fc-chrono .fc-widget-header .fc-cell-text{
	font-size: 85%;
	font-weight:normal;
}

#calendar .fc-center h2{
	font-size: 24px;
}

.ng2-datetime-picker
{
	width: 250px;
}

.ng2-datetime-picker .days
{
	width: 100% !important;
}

.ng2-datetime-picker .hourLabel, .ng2-datetime-picker .minutesLabel
{
	padding-top: 5px;
	display:inline-block !important;
	width: 20% !important;
}

.ng2-datetime-picker .hourInput 
{
	width: 75%;
	padding-top: 5px;
	display:inline-block;
	float:right;
}

.ng2-datetime-picker .minutesInput 
{
	width: 75%;
	padding-top: 5px;
	display:inline-block;
	float:right;
}


.ng2-datetime-picker .select-current-time{
	display:none;
}

.ng2-datetime-picker .close-button{
	right: 10px !important;
	padding-top: 5px !important;
}


.ng2-datetime-picker > .month > .prev_next:hover{
	background-color:#cccccc !important;
}


.ng2-datetime-picker > .month > .next.year, .ng2-datetime-picker > .month > .prev.year{
	display:none;
}

.ng2-datetime-picker > .month > .prev_next.prev{
	margin-left: 20px;
}


.ng2-datetime-picker > .month > .prev_next.next{
	margin-right: 20px;
}

.ng2-datetime-picker .close-button::before{
	font-size: 16px;
	color: #999999 !important;	
}

.ng2-datetime-picker .close-button:hover::before{
	color: #000000 !important;	
}


.ng2-datetime-picker .days .weekend{
	background-color: #ffffff !important;
}

.ng2-datetime-picker .days .weekend:hover{
	background-color: #f0f0f0 !important;
}

.ng2-datetime-picker .days .weekend.selected{
	background-color: #666666 !important
}

.fc-content .fc-widget-content{
	vertical-align:middle;
}

.fc-nonbusiness{
	background-color: #f4d899;
}

.fc-ltr .fc-timeline-event{
	cursor:pointer;
}

.fc-ltr .fc-timeline-event:hover{
	color: #f0f0f0;
}

.fc-body .fc-resource-area .fc-cell-content, .fc-time-area .fc-event-container
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.theme-service-device{

}

.fc-icon-refresh::before {
    font-family: "FontAwesome";
    content: "\f021";
}
.tooltip {

    width: auto;
    height: auto;
    background-color: #ffffff !important;
    position: absolute;
    z-index: 10001;
    padding: 5px;
	border: 1px #cccccc solid;
	opacity:1;
    line-height: 1.5;
}

.tooltip.description
{
	background-color: #efffd5 !important
}

.backdrop {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	z-index:100;
}

.fc-scroller {
    height: 0% !important;
}

header {
    overflow: clear;
    position: relative;
}

.btnsave {
    float: right !important;
    padding-left: 37px;
}

    .btnsave button {
        width: 100px;
    }

table {
    background: #fff;
    border-collapse: collapse;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 100%;
}

td {
    border: 1px solid #ccc;
    color: #444;
    line-height: 22px;
    text-align: center;
}


/*tr:first-child td {
            color: #222;
            font-weight: 700;
        }*/

.selected {
    background: #f0951d;
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}

#calendar{
	margin-top: 20px;
}

.msgToolbar {
    display: inline-block;
    position: fixed;
	top: 20px;
    left: 30%;
    transition: all 0.5s ease-in-out;
    z-index: 1031;
    color: #333333 !important;
    background-color: #eaffff;   
    padding: 5px 10px;
    border: 1px solid #dceaea;
    border-radius: 4px;
	font-weight:normal;
}

.priceHeader{
    float:right;
}


.fc-list-empty 
{
	display: block !important;
}

.oneline .form-control{
	width: auto;
	display: inline-block;
	margin-left: 5px;
}

.inline.time{
   width: 80px;
}

.inline.time ng-select{
	z-index: 100;
	margin-right: 5px;
}

input.calendar{
	width: 100px !important;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer
}

.followup-events{
	max-height: 50px;
    position: absolute;
    overflow-y: scroll;
    border: 1px solid #dcd7d7;
    width: 50%;
	top: 0px;
    right: 20px;
    border-radius: 4px;
    background: #fff5f5;
    padding: 0px 5px;
}
