<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1>Bruker grupper</h1>

    <div class="block">
        <button type="button" class="btn btn-lg btn-primary" (click)="openModal()"><i class="fa fa-plus"></i> Legg til ny brukergruppe</button>
        <button class="btn btn-lg btn-primary" (click)="sendMessageDialog( 'email' )"><i class="fa fa-envelope"></i> Send epost</button>
        <button class="btn btn-lg btn-primary" (click)="sendMessageDialog( 'sms' )"><i class="fa fa-comment"></i> Send SMS</button>
    </div>
    <div>
	
	<div class="modal send-message" tabindex="-1" role="dialog" [ngStyle]="{'display':messageDisplay}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="messageForm" class="messageform">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="onCloseMessage()"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Send {{messageType=='sms'?'SMS':'Email'}} </h4>
                    </div>
                    <div class="modal-body">
                        <div class="sending {{sending?'':'hide'}}"></div>
                        <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
                        <div *ngIf="messageType=='email'">
                            <label>Subject:<span class="required" *ngIf="subject.errors&&subject.errors.required">*</span></label>
                            <div>
                                <input class="form-control" [(ngModel)]="messageSubject" name="messageSubject" type="text" required #subject="ngModel" />                                
                            </div>
                        </div>
                        <div>
                            <label>Message:<span class="required" *ngIf="body.errors&&body.errors.required">*</span></label>
                            <textarea class="form-control" rows="10" name="messageBody" [(ngModel)]="messageBody" required #body="ngModel"></textarea>                            
                        </div>
                        <div>
                            <label>Send to: </label>
                            <div *ngIf="selectedGroupsInfo" class="sendmessage-user-list">
                                <div *ngFor="let selectedGroup of selectedGroupsInfo">
                                    <div>{{selectedGroup.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <button type="submit" class="btn btn-lg btn-primary" disabled="{{messageBody==''||(messageType=='email'&&messageSubject=='')?'disabled':''}}" (click)="onSendMessage()">Send</button>
                            <button class="btn btn-lg" (click)="onCloseMessage()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Navn</th>
                <th>Handling</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let usrGr of userGroupData; let i = index">
                <td><input id="myCheck" type="checkbox" [(ngModel)]="selectedGroups[i]" /></td>
                <td><a [routerLink]="['/crm/usersgrouplist', usrGr.userGroupId]">{{usrGr.name}}</a></td>

                <td><a href="javascript:void;" class="fa fa-trash" (click)="DeleteUserGroup(usrGr.userGroupId)" title="Slett"></a> </td>

            </tr>

        </tbody>
    </table>
    <confirm-alert [title]="'Slett'" [type]="'Slett'" [question]="'Er du sikker på at du vil slette?'" [ConfirmButtonText]="'Slett'" (notify)="ConfirmCommand($event)"></confirm-alert>
    <div class="modal bookModal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Legg til ny brukergruppe</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">


                            <input class="form-control" id="UserGroupName" [(ngModel)]="userGroupName" width="30" type="text" placeholder="Navn (nødvendig)" />
                        </div>
                        <div class="col-md-2 btnsave">
                            <button class="btn  btn-primary" (click)="save()" type="button">Lagre</button>
                        </div>
                    </div>



                </div>

            </div><!-- /.modal-content -->
        </div>
    </div>
</body>
</html>